{% extends "layout.html" %}

{% block body %}
<script src="{{ url_for('static', filename='js/tablesort.min.js') }}"></script>
<h2>House Lists</h2>
<script>
  function memberListDropdownFunction() {
    document.getElementById("member-list-dropdown").classList.toggle("member-list-dropdown-show");
  }
  window.onclick = function(event) {
    if (!event.target.matches(".member-list-dropbtn")) {
      var dropdowns = document.getElementsByClassName("member-list-dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i ++){
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains("member-list-dropdown-show")) {
          openDropdown.classList.remove("member-list-dropdown-show");
        }
      }
    }
  }
</script>
Currently showing {{search_type}} Rudds.<br>
Click on the columns to sort, or
<div class="member-list-dropdown">
  <button onclick="memberListDropdownFunction()" class="member-list-dropbtn">click here</button>
  <div class="member-list-dropdown-content" id="member-list-dropdown">
    <a href="{{ url_for('users.show_memberlist', search_type='all') }}">all</a>
    <a href="{{ url_for('users.show_memberlist', search_type='current') }}">current</a>
    <a href="{{ url_for('users.show_memberlist', search_type='alumni') }}">alumni</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2020') }}">grad2020</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2019') }}">grad2019</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2018') }}">grad2018</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2017') }}">grad2017</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2016') }}">grad2016</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2015') }}">grad2015</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2014') }}">grad2014</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2013') }}">grad2013</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2012') }}">grad2012</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2011') }}">grad2011</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2010') }}">grad2010</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2009') }}">grad2009</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2008') }}">grad2008</a>
    <a href="{{ url_for('users.show_memberlist', search_type='grad2007') }}">grad2007</a>
  </div>
</div>
 to select a different filter.
<br><br>

<table class="userlist" id="user-table">
  <thead style="cursor: pointer;">
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Matr.</th>
      <th>Grad.</th>
      <th>Membership</th>
    </tr>
  </thead>
  <tbody>
  {% for member in memberlist %}
    {# Yes, jinja2 has a test called 'none' and it's not spelled 'None' #}
    {% if member['username'] is not none %}
    <tr class="link" onclick="location.href='{{ url_for('users.view_profile',
      username=member['username']) }}'">
    {% else %}
    <tr>
    {% endif %}
    {# Display data #}
    <td>{{ member['first_name'] }}</td>
    <td>{{ member['last_name'] }}</td>
    <td>{{ member['email'] }}</td>
    {# Matriculation and graduation year might not be set. #}
    <td>{{ member['matriculation_year'] if member['matriculation_year'] is not none else '' }}</td>
    <td>{{ member['graduation_year'] if member['graduation_year'] is not none else '' }}</td>
    <td>{{ member['membership_desc'] }}</td>
  </tr>
  {% endfor %}
</table>

<script>
  new Tablesort(document.getElementById('user-table'));
</script>
{% endblock body %}
