{% extends "layout.html" %}

{% block body %}
<script src="{{ url_for('static', filename='js/tablesort.min.js') }}"></script>
<h2>House Lists</h2>
{# Show link to change current/alumni filtering #}
{% if search_type == 'current' %}
  Currently showing only current students. View
  <a href="{{ url_for('users.show_memberlist') }}">all Rudds</a> or
  <a href="{{ url_for('users.show_memberlist', search_type='alumni') }}">only alumni</a>.
{% elif search_type == 'alumni' %}
  Currently showing only alumni. View
  <a href="{{ url_for('users.show_memberlist') }}">all Rudds</a> or
  <a href="{{ url_for('users.show_memberlist', search_type='current') }}">only current students</a>.
{% else %}
  Currently showing all Rudds. View only
  <a href="{{ url_for('users.show_memberlist', search_type='current') }}">current students</a> or
  <a href="{{ url_for('users.show_memberlist', search_type='alumni') }}">alumni</a>.
{% endif %}
Click on the columns to sort.
<br><br>

<table class="userlist" id="user-table">
  <thead style="cursor: pointer;">
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Matr.</th>
      <th>Grad.</th>
      <th>Membership</th>
    </tr>
  </thead>
  <tbody>
  {% for member in memberlist %}
    {# Yes, jinja2 has a test called 'none' and it's not spelled 'None' #}
    {% if member['username'] is not none %}
    <tr class="link" onclick="location.href='{{ url_for('users.view_profile',
      username=member['username']) }}'">
    {% else %}
    <tr>
    {% endif %}
    {# Display data #}
    <td>{{ member['first_name'] }}</td>
    <td>{{ member['last_name'] }}</td>
    <td>{{ member['email'] }}</td>
    {# Matriculation and graduation year might not be set. #}
    <td>{{ member['matriculation_year'] if member['matriculation_year'] is not none else '' }}</td>
    <td>{{ member['graduation_year'] if member['graduation_year'] is not none else '' }}</td>
    <td>{{ member['membership_desc'] }}</td>
  </tr>
  {% endfor %}
</table>

<script>
  new Tablesort(document.getElementById('user-table'));
</script>
{% endblock body %}
