{% extends "layout.html" %}

{% block body %}
  <center>
  {# Name and subtitle #}
  <h2>{{ info["name"] }}</h2>
  <h3>
    {% if info["major"] is not none %}
      {{ info["major"] }}
      {# Insert comma if major AND grad year are both set,
      e.g. "Physics, Class of 2015"
      #}
      {% if info["graduation_year"] is not none %}
      ,
      {% endif %}
    {% endif %}
    {% if info["graduation_year"] is not none %}
      Class of {{ info["graduation_year"] }}
    {% endif %}
  </h3>

  {# Contact Information #}
  <div id="view_user_contact">
    <a href="&#109;&#097;&#105;&#108;&#116;&#111;:{{ info["email"] }}">
      {{ info["email"] }}
    </a>

    {% if info["msc"] is not none %}
    &#8226; MSC {{ info["msc"] }}
    {% endif %}

    {% if info["phone"] is not none %}
    &#8226; {{ info["phone"] }}
    {% endif %}
  </div>
  <br>
  {# All other information #}
  <table>
    {# Display offices for this user, if any #}
    {% if offices %}
      <tr>
        <td>Offices</td>
        <td><ul>
          {% for office in offices %}
            <li>{{ office['office_name'] }}:
              {{ office['start_date'].strftime("%b '%y") }} to
              {{ office['end_date'].strftime("%b '%y") }}
          {% endfor %}
        </ul></td>
      </tr>
    {% endif %}

    {% if info["birthday"] is not none %}
      <tr>
        <td>Birthday</td>
        <td>{{ strftime("%B %d, %Y", info["birthday"].timetuple()) }}</td>
      </tr>
    {% endif %}
    {% if info["building"] is not none and info["room_number"] is not none %}
    <tr>
      <td>Residence</td>
      <td>{{ info["building"] }} {{ info["room_num"] }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Membership</td>
      <td>{{ info["membership_desc"] }}</td>
    </tr>
  </table>

  {% if has_edit_permission %}
  <br>
  <a href="{{ url_for('users.edit_profile',
    username = info["username"])}}">Click here</a> to edit this information!
  {% endif %}

  </center>
{% endblock body %}
