{% extends "layout.html" %}
{% block body %}
  <h2>Log in to Ruddock!</h2>
  <form action="{{ url_for('auth.login_submit') }}" method="post">
    <table class="form">
      <tr>
        <td>Username</td>
        <td><input type="text" name="username" tabindex="1" autofocus></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password" tabindex="2"></td>
      </tr>
    </table>
    <br>
    <button type="submit" tabindex="3">Login</button>
  </form>
  <br>
  <a href="{{ url_for('account.request_account') }}">Create an account</a><br>
  <a href="{{ url_for('auth.forgot_password') }}">Forgot your password?</a>
{% endblock body %}
