{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css"
  href="{{ url_for('rotation.static', filename='css/move.css') }}" />
{% endblock head %}

{% block body %}

<div class="container">
  <div>
    <h2>Bucket {{ old_bucket_name }}</h2>
    <div class="bucketContents">
      {% for prefrosh in old_bucket %}
        <div class="prefroshDetails" id="{{ prefrosh['prefrosh_id'] }}">
          <img src="{{ url_for('rotation.serve_image', prefrosh_id=prefrosh['prefrosh_id']) }}"
        height = "300">
          <a href="{{ url_for('rotation.show_prefrosh',
        prefrosh_id=prefrosh['prefrosh_id']) }}">{{ prefrosh['full_name'] }}</a>
          <div class="container">
            <table>
              <thead>
                <tr>
                  {% for vote_tuple in vote_tuples %}
                    <th>{{ vote_tuple['vote_value'] }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for vote_tuple in vote_tuples %}
                    <td>{{ prefrosh[vote_tuple['vote_string']] }}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
            <form action="{{ url_for('rotation.change_bucket', prefrosh_id=prefrosh['prefrosh_id']) }}"
              method="post" id="change_bucket_form">
              <input type="hidden" name="oldBucket" value="{{ old_bucket_name }}">
              <input type="hidden" name="newBucket" value="{{ new_bucket_name }}">
              <input type="submit" value="Move">
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div>
    <h2>Bucket {{ new_bucket_name }}</h2>
    <div class="bucketContents">
      {% for prefrosh in new_bucket %}
        <div class="prefroshDetails" id="{{ prefrosh['prefrosh_id'] }}">
          <img src="{{ url_for('rotation.serve_image', prefrosh_id=prefrosh['prefrosh_id']) }}"
        height = "300">
          <a href="{{ url_for('rotation.show_prefrosh',
        prefrosh_id=prefrosh['prefrosh_id']) }}">{{ prefrosh['full_name'] }}</a>
          <div class="container">
            <table>
              <thead>
                <tr>
                  {% for vote_tuple in vote_tuples %}
                    <th>{{ vote_tuple['vote_value'] }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for vote_tuple in vote_tuples %}
                    <td>{{ prefrosh[vote_tuple['vote_string']] }}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock body %}