.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commentInput {
  width: 100%;
  font-size: 20px;
}

.voteStepper {
  width: 60%;
  font-size: 20px;
}

.voteLabel {
  font-size: 20px;
}

.voteBlock {
}
