a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background: #dddddd;
  font-family: "Roboto", Helvetica, Tahoma, Arial, sans-serif;
  text-align: left;
}
h1 {
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 2.2em;
  line-height: 120%;
  margin: 0px;
}
h2 {
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 1.9em;
  margin: 0px;
}
h3 {
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 1.3em;
  line-height: 150%;
  margin: 0px;
}
html {
  margin: 0px;
}
input {
  border: 0px;
  background-color: #e8e8e8;
  padding: 7px;
}
button {
  border: 0px;
  background-color: #e8e8e8;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
table {
  background-color: #f7f7f7;
  border: 0px;
  border-collapse: collapse;
}
thead {
  background-color: #a3b9e1;
}
td {
  padding: 7px;
  vertical-align: top;
}
th {
  padding: 7px;
  padding-bottom: 12px;
  padding-top: 12px;
}
ul {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
}

/* Header */
#header {
  display: table;
  max-width: 1000px;
  text-align: center;
  width: 100%;
  z-index: 0;
}
#header-image {
  display: table-cell;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  vertical-align: middle;
}
#header-image img {
  width: 150px;
}
#header-main {
  background-color: #003060;
  text-align: center;
}
#header-text {
  color: white;
  display: table-cell;
  padding: 20px;
  padding-top: 15px;
  text-align: left;
  vertical-align: middle;
}
#navbar {
  background-color: #ebf3fb;
  box-shadow: 0px 3px 5px #eeeeee;
  display: table;
  font-family: "Roboto", Helvetica, Tahoma, Arial, sans-serif;
  position: relative;
  width: 100%;
  z-index: 10;
}
#navbar-links {
  display: inline-block;
  float: left;
  padding-left: 5px;
  text-align: left;
  vertical-align: middle;
}
#navbar-login {
  display: inline-block;
  float: right;
  padding-right: 5px;
  text-align: right;
  vertical-align: middle;
}
.navbar-link {
  border-bottom: 3px solid #ebf3fb;
  color: black;
  display: inline-block;
  padding: 15px;
  padding-bottom: 12px;
}
.navbar-link:hover {
  border-bottom: 3px solid #003060;
  cursor: pointer;
}
.navbar-link a {
  color: black;
  text-decoration: none;
}
#subtitle {
  display: block;
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 2.1em;
  margin-top: -10px;
}
#title {
  display: block;
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 4.5em;
  font-weight: bold;
}

/* Footer */
#about {
  color: white;
  display: table-cell;
  float: right;
  padding: 15px;
}
#about a {
  color: white;
  text-decoration: underline;
}
#copyright {
  color: white;
  display: table-cell;
  float: left;
  padding: 15px;
}
#footer {
  background-color: #003060;
  clear: both;
  display: table;
  max-width: 1000px;
  width: 100%;
}

/* Content */
#content {
  background-color: white;
  margin: 0px;
  max-width: 1000px;
  z-index: 0;
}
#content-body {
  padding: 20px;
  text-align: left;
}
#event-form {
  clear: both;
  display: block;
}
table.form {
  background-color: white;
  margin-bottom: 10px;
}
.form td, .form th {
  background-color: white;
  padding-left: 0px;
  padding-right: 15px;
}
.form tr:hover {
  background-color: white;
}
.link {
  cursor: pointer;
}
tr.link:hover {
  background-color: #dddddd;
}
.message {
  background-color: #FFEB99;
  border-right: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 15px;
  padding: 10px;
}
