body {
  background: #dddddd;
  font-family: "Roboto", Helvetica, Tahoma, Arial, sans-serif;
}
h1 {
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 2.2em;
  margin: 0px;
}
h2 {
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 1.9em;
  margin: 0px;
}
h3 {
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 1.3em;
  margin: 0px;
}
html {
  margin: 0px;
}

/* Header */
#header {
  display: table;
  max-width: 900px;
  text-align: center;
  width: 100%;
  z-index: 0;
}
#header-image {
  display: table-cell;
  padding-right: 30px;
  vertical-align: middle;
}
#header-main {
  background-color: #003060;
  padding: 20px;
  text-align: center;
}
#header-text {
  color: white;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
#navbar {
  background-color: #ebf3fb;
  box-shadow: 0px 3px 5px #eeeeee;
  font-family: "Roboto", Helvetica, Tahoma, Arial, sans-serif;
  display: table;
  width: 100%;
}
#navbar-links {
  display: inline-block;
  float: left;
  text-align: left;
  vertical-align: middle;
}
#navbar-login {
  display: inline-block;
  float: right;
  text-align: right;
  vertical-align: middle;
}
.navbar-link {
  border-bottom: 3px solid #ebf3fb;
  color: black;
  display: inline-block;
  padding: 15px;
  padding-bottom: 12px;
}
.navbar-link:hover {
  border-bottom: 3px solid #003060;
  cursor: pointer;
}
.navbar-link a {
  color: black;
  text-decoration: none;
}
#subtitle {
  display: block;
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 1.8em;
}
#title {
  display: block;
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 3.5em;
  font-weight: bold;
}

/* Footer */
#about {
  color: white;
  display: table-cell;
  float: right;
  padding: 15px;
}
#about a {
  color: white;
  text-decoration: none;
}
#copyright {
  color: white;
  display: table-cell;
  float: left;
  padding: 15px;
}
#footer {
  background-color: #003060;
  clear: both;
  display: table;
  max-width: 900px;
  width: 100%;
}

/* Content */
#content {
  background-color: white;
  margin: 0px;
  max-width: 900px;
  z-index: 10;
}
#content-body {
  padding: 20px;
}
.message {
  background-color: #FFEB99;
  border-right: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 15px;
  padding: 10px;
}

/* Consistent styling for all tables. 
table th {
  text-align: center;
  background-color: #eee;
  color: #666666;
  font-weight: bold;
  cursor: default;
  padding: 2px 5px;
}

table td {
  text-align: left;
  padding: 2px 5px;
}


div.mainbody {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  width: 100%;
}

tr.row_1 {
}

tr.row_2 {
  background-color: lightgrey;
}

h2 {
  text-align: center;
}

div.announcement {
  width: 50%;
}

li.news {
  margin-bottom: 10px;
}

div.scroll_userlist {
  overflow: auto;
  max-height: 200px;
  display: block;
}

div.userlist_row {
  display: table-row;
}

div.message_list{
  width: 70%;
  display: block;
}

div.message {
  width: 100%;
  margin-bottom: 5px;
}

div.message_header {
  width: 100%;
  display: table-row;
  background-color: lightgrey;
}

div.message_body {
  width: 100%;
  display: table-row;
  margin-left: 30px;
}

.userlist {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.userlist a:link, .userlist a:visited {
  color: #003060;
  font-size: 10px;
  text-decoration: none;
}

.userlist tr:hover td {
  background-color: #FFFAF0;
}

#view_user_box {
  display: inline-block;
  clear: Both;
  min-width: 300px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #BFCBD7;
}

#view_user_name {
  color: black;
  font-size: 36pt;
  font-weight: bold;
  margin-top: -10px;
  text-align: left;
}

#view_user_subtitle {
  font-weight: bold;
  font-size: 16pt;
  margin-top: -5px;
  margin-right: 0px;
  margin-left: 50px;
  text-align: right;
}

#view_user_isabroad {
  font-size: 9pt;
  text-align: center;
  margin-bottom: -15px;
  margin-top: 15px;
  font-style: italic;

}

#view_user_contact {
  font-size: 11pt;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  border-color: #003060;
}

#view_user_other {
  text-align: left;
  font-size: 11pt;

}

div.table_container table {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}*/
