<!-- TODO this is conflicting with the rotation portal! what gives? -->
{% extends "layout.html" %}

{% block body %}

<!--

Access entries were:
  Account Summary
  Add Expense
  Budget Summary
  Check Summary
  Term Report
  Uncashed Checks
  Write Checks
  Year Report

Pages should be:
  Add expense
  do payments
  view expenses
  view payments
  view budget/account summaries
  record check deposits

  make new fiscal year / budgets
  edit budget amounts

-->

<a href="{{ url_for('budget.route_add_expense') }}">Add Expense</a>
<br>
<a href="{{ url_for('budget.route_unpaid') }}">Do Payments</a>
<br>
<a href="{{ url_for('budget.route_expenses') }}">View Expenses</a>
<br>
<a href="{{ url_for('budget.route_payments') }}">View Payments</a>
<br>
<a href="{{ url_for('budget.route_summary') }}">View Account/Budget Summaries</a>
<br>
<a href="{{ url_for('budget.route_checks') }}">Post/Void Non-Deposited Checks</a>

{% endblock body %}
