{% extends "layout.html" %}

{% import "forms.html" as forms %}

{% block head %}
<link rel="stylesheet" type="text/css"
  href="{{ url_for('budget.static', filename='css/forms.css') }}">
{% endblock head %}

{% block body %}
<hr>
<p>This isn't the ideal input format, but until someone with more Javascript skills comes along, this is how it'll be.</p>

<p>Check the table below for the payment IDs.</p>

<p>Also, no client side validation for now. If you submit an invalid request, you'll have to start again.</p>
<hr>

<!-- TODO client side validation -->

<h2>Process Check</h2>
<form id="form" action="{{ url_for('budget.route_process_check') }}" method="POST">
  <div class="input-row">
    <label for="payment-id">Payment ID: </label>
    <input id="payment-id" name="payment-id" type="text">
  </div>
  <div class="input-row">
    <label for="date-posted">Date Deposited: </label>
    <input id="date-posted" name="date-posted" type="date">
  </div>
  <div class="input-row">
    <input type="submit" name="action" value="Post">
    <input type="submit" name="action" value="Void">
  </div>
</form>

<h2>Non-Deposited Checks</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Account</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Date Written</th>
      <th>Payee</th>
      <th>Check #</th>
    </tr>
  </thead>
  <tbody>
    {% for r in checks %}
    <tr>
      <td>{{ r["payment_id"] }}</td>
      <td>{{ r["account_name"] }}</td>
      <td>{{ r["type"] }}</td>
      <td>${{ r["amount"] }}</td>
      <td>{{ r["date_written"] }}</td>
      <td>{{ r["payee_name"] }}</td>
      <td>{{ r["check_no"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}