{% extends "layout.html" %}


{% block head %}
<link rel="stylesheet" type="text/css"
  href="{{ url_for('budget.static', filename='css/forms.css') }}">
{% endblock head %}


{% block body %}

<h2>Process Check</h2>
<form id="form" action="{{ url_for('budget.route_process_check') }}" method="POST">
  <div class="form-row">
    <label for="payment-id">Payment ID: </label>
    <input id="payment-id" name="payment-id" type="text">
  </div>
  <div class="form-row">
    <label for="date-posted">Date Deposited: </label>
    <input id="date-posted" name="date-posted" type="date">
  </div>
  <div class="form-row">
    <input type="submit" name="action" value="Post">
    <input type="submit" name="action" value="Void">
  </div>
</form>

<h2>Non-Deposited Checks</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Account</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Date Written</th>
      <th>Payee</th>
      <th>Check #</th>
    </tr>
  </thead>
  <tbody>
    {% for p in unposted_payments %}
    <tr>
      <td>{{ p.payment_id }}</td>
      <td>{{ p.account.account_name }}</td>
      <td>{{ p.payment_type.name }}</td>
      <td>${{ p.amount }}</td>
      <td>{{ p.date_written }}</td>
      <td>{{ p.payee.payee_name }}</td>
      <td>{{ p.check_no or "--" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}
