{% extends "layout.html" %}

{% import 'forms.html' as forms %}


{% block head %}
<link rel="stylesheet" type="text/css"
  href="{{ url_for('budget.static', filename='css/forms.css') }}">
{% endblock head %}


{% block body %}
{% set expense_id = expense["expense_id"] %}
{% set payee_id = expense["payee_id"] %}
{% set payment_id = expense["payment_id"] %}

<h2>Expense #{{ expense_id }}</h2>

<form action="{{ url_for('budget.route_edit_expense') }}" method="POST" autocomplete="off">

  <!-- hidden input tags so that POST sends this -->
  <input type="hidden" name="expense-id" value="{{ expense_id }}">
  <!-- visible stuff -->

  {% if not payment_id is none %}
    <p>
      There is already a payment (#{{ payment_id }}) linked to this expense!
      If you edit this expense, the linked payment will be updated accordingly.
      If you delete this expense, the linked payment will be deleted.
    </p>
  {% endif %}

  {{ forms.expense(budgets, expense) }}

  {{ forms.payee(payees, payee_id) }}

  {{ forms.payment(payment_types, accounts) }}

<input type="submit" value="Edit Expense">

<input
  type="submit"
  value="Delete Expense"
  formaction="{{ url_for('budget.route_delete_expense') }}"
  onclick="return confirm('Are you sure you want to delete this expense?');"
  style="margin-left: 20px;">

</form>

<br>
<a href="{{ url_for('budget.route_expenses') }}">Go Back</a>

{% endblock body %}
