{% extends "layout.html" %}

{% block body %}

<h2>Expense List</h2>
<table id="expense-table">

  <thead>
    <tr>
      <th>Budget</th>
      <th>FY</th>
      <th>Date Incurred</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Payee</th>
    </tr>
  </thead>

  <tbody>
    {% for r in expenses %}
    <tr>
      <td>{{ r["budget_name"] }}</td>
      <td>{{ r["fyear_num"] }}</td>
      <td>{{ r["date_incurred"] }}</td>
      <td>{{ r["description"].decode("utf8") }}</td>
      <td>{{ r["cost"] }}</td>
      <td>{{ r["payee_name"] }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock body %}