{% extends "layout.html" %}

<!--TODO alter css so that the page is extra-wide-->

{% block body %}

<h2>Expense List</h2>
<table>

  <thead>
    <tr>
      <th>ID</th>
      <th>Budget</th>
      <th>FY</th>
      <th>Date Incurred</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Payment ID</th>
      <th>Payee</th>
      <th>Type</th>
      <th>Account</th>
      <th>Check #</th>
    </tr>
  </thead>

  <tbody>
    {% for r in expenses %}
    <tr class="link" onclick="location.href='{{ url_for('budget.route_show_expense', expense_id=r['expense_id']) }}'">
      <td>{{ r["expense_id"] }}</td>
      <td>{{ r["budget_name"] }}</td>
      <td>{{ r["fyear_num"] }}</td>
      <td>{{ r["date_incurred"] }}</td>
      <td>{{ r["description"] }}</td>
      <td>${{ r["cost"] }}</td>
      <td>{{ r["payment_id"] or "--" }}</td>
      <td>{{ r["payee_name"] or "--" }}</td>
      <td>{{ ptypes[r["payment_type"]] or "--" }}</td>
      <td>{{ r["account_name"] or "--" }}</td>
      <td>{{ r["check_no"] or "--" }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock body %}