{% extends "layout.html" %}

<!--TODO alter css so that the page is extra-wide-->

{% block body %}

<h2>Expense List</h2>
<table>

  <thead>
    <tr>
      <th>ID</th>
      <th>Budget</th>
      <th>FY</th>
      <th>Date Incurred</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Payment ID</th>
      <th>Payee</th>
      <th>Type</th>
      <th>Account</th>
      <th>Check #</th>
    </tr>
  </thead>

  <tbody>
    {% for e in expenses %}
    <tr class="link" onclick="location.href='{{ url_for('budget.route_show_expense', expense_id=e.expense_id) }}'">
      <!-- TODO is there a ?. like operator? -->
      <td>{{ e.expense_id }}</td>
      <td>{{ e.budget.budget_name }}</td>
      <td>{{ e.budget.fiscal_year.fyear_num }}</td>
      <td>{{ e.date_incurred }}</td>
      <td>{{ e.description }}</td>
      <td>${{ e.cost }}</td>
      <td>{{ e.payment.payment_id if e.payment else "--" }}</td>
      <td>{{ e.payee.payee_name if e.payee else "--" }}</td>
      <td>{{ e.payment.payment_type.name if e.payment else "--" }}</td>
      <td>{{ e.payment.account.account_name if e.payment else "--" }}</td>
      <td>{{ e.payment.check_no if e.payment and e.payment.check_no else "--" }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock body %}
