<!-- Fields for an expense: budget, date incurred, cost, description -->
{% macro expense(budgets, expense=None) %}

<div class="form-row">
  <label for="budget-id">Budget: </label>
  <select id="budget-id" name="budget-id">
    <option value="" {{ "selected" if expense is none else "" }}>
    -- Select Budget --
    </option>
    {% for b in budgets %}
      <option value="{{ b.budget_id }}" {{ "selected" if expense.budget_id == b.budget_id else "" }}>
        {{ b.budget_name }}
      </option>
    {% endfor %}}
  </select>
</div>
<div class="form-row">
  <label for="date-incurred">Date Incurred: </label>
  <input type="date" id="date-incurred" name="date-incurred" value="{{ expense.date_incurred }}">
</div>
<div class="form-row">
  <label for="cost">Cost: </label>
  <input type="text" id="cost" name="cost" value="{{ expense.cost }}">
</div>
<div class="form-row">
  <label for="description">Description: </label>
  <div style="overflow: hidden">
    <textarea id="description" name="description">{{ expense.description }}</textarea>
  </div>
</div>

{% endmacro %}


<!-- Fields for a payment: type, account, check # -->
{% macro payment(payment_type_enum, accounts) %}

<div class="form-row">
  <label for="payment-type">Payment Type: </label>
  <select id="payment-type" name="payment-type">
    <option value="" selected="selected">-- Select Type --</option>
    {% for pt in payment_type_enum %}
      <option value={{pt.value}}>{{pt.name}}</option>
    {% endfor %}
  </select>
</div>
<div class="form-row">
  <label for="account-id">Account: </label>
  <select id="account-id" name="account-id">
    <option value="" selected="selected">-- Select Account --</option>
    {% for a in accounts %}
      <option value="{{ a.account_id }}">{{ a.account_name }}</option>
    {% endfor %}
  </select>
</div>
<div class="form-row">
  <label for="check-no">Check #: </label>
  <input type="number" id="check-no" name="check-no">
</div>

{% endmacro %}


<!-- Fields for payee input, existing or new -->
{% macro payee(payees, payee_id=None) %}

<div class="form-row">
  <label for="payee-id">Existing Payee: </label>
  <select id="payee-id" name="payee-id">
    <option value="" {{ "selected" if payee_id is none else "" }}>
      -- Select Payee --
    </option>
    {% for p in payees %}
      <option value="{{ p.payee_id }}" {{ "selected" if payee_id == p.payee_id else "" }}>
        {{ p.payee_name }}
      </option>
    {% endfor %}
  </select>
</div>
<div class="form-row">
  <label for="new-payee">or add a new one: </label>
  <input type="text" id="new-payee" name="new-payee">
</div>

{% endmacro %}
