{% extends "layout.html" %}

{% block body %}

<h2>Payment List</h2>
<table>

  <thead>
    <tr>
      <th>ID</th>
      <th>Account</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Date Written</th>
      <th>Date Posted</th>
      <th>Payee</th>
      <th>Check #</th>
    </tr>
  </thead>

  <tbody>
    {% for p in payments %}
    <tr>
      <td>{{ p.payment_id }}</td>
      <td>{{ p.account.account_name }}</td>
      <td>{{ p.payment_type.name }}</td>
      <td>${{ p.amount }}</td>
      <td>{{ p.date_written }}</td>
      <td>{{ p.date_posted or "--" }}</td>
      <td>{{ p.payee.payee_name if p.payee else "--" }}</td>
      <td>{{ p.check_no or "--" }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock body %}
