{% extends "layout.html" %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
function update_fy() {
  var fy_id = $("#fy-select").val();

  $.ajax({
    url: "{{ url_for('budget.ajax_get_budget_summary') }}",
    method: "GET",
    data: {fyear_id: fy_id},
    dataType: "json",
    success: update_budget_summary
  });
}

function update_budget_summary(rows) {

  // Clear the table
  $("#budget-table tbody tr").remove();

  // Repopulate it
  var table = $("#budget-table tbody");
  $.each(rows, function(idx, row) {
    table.append("<tr>\
      <td>"+row["budget_name"]+"</td>\
      <td>"+row["starting_amount"]+"</td>\
      <td>"+row["spent"]+"</td>\
    </tr>");
  });
}

$(document).ready(update_fy);
</script>

{% endblock head %}


{% block body %}

<h2>Account Summary</h2>
<table id="account-table">

  <thead>
    <tr>
      <th>Account Name</th>
      <th>Current Balance</th>
      <th>[TODO] Balance</th>
    </tr>
  </thead>

  <tbody>
    {% for r in a_summary %}
    <tr>
      <td>{{ r["account_name"] }}</td>
      <td>{{ r["bal"] }}</td>
      <td>{{ r["post_bal"] }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

Fiscal Year:
<select id="fy-select" oninput="update_fy()">
  {% for r in fyears %}
  <option value="{{ r["fyear_id"] }}"
  {% if r["fyear_id"] == current_fyear_id %}
    selected="selected"
  {% endif %}
  >{{ r["fyear_num"] }}</option>
  {% endfor %}
</select>

<table id="budget-table">

  <thead>
    <tr>
      <th>Budget Name</th>
      <th>Starting Amount</th>
      <th>Total Spent</th>
    </tr>
  </thead>

  <tbody>
    <!-- populated by update_budget_table -->
  </tbody>

</table>

{% endblock body %}