{% extends "layout.html" %}

{% import "forms.html" as forms %}


{% block head %}
<link rel="stylesheet" type="text/css"
  href="{{ url_for('budget.static', filename='css/forms.css') }}">
{% endblock head %}


{% block body %}

<h2>Unpaid Expenses</h2>
<hr>
No client side validation for now. If you submit an invalid request, you'll have to start again.
<hr>
{% if unpaid_grouped %}
  {% for payee, expenses in unpaid_grouped %}
    <h3>{{ payee.payee_name }}: ${{ expenses | sum(attribute="cost") }}</h3>
    <form action="{{ url_for('budget.route_submit_unpaid') }}" method="POST">
      <!-- hidden input tags so that POST sends this -->
      <input type="hidden" id="payee-id" name="payee-id" value="{{ payee.payee_id }}">
      <!-- visible stuff -->
      {{ forms.payment(payment_type_enum, accounts) }}
      <div class="form-row">
        <label for="date-written">Date Written:</label>
        <input type="date" id="date-written" name="date-written" value={{ today }}>
      </div>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Budget</th>
            <th>FY</th>
            <th>Date Incurred</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for e in expenses %}
            <tr>
              <td>{{ e.expense_id }}</td>
              <td>{{ e.budget.budget_name }}</td>
              <td>{{ e.budget.fiscal_year.fyear_num }}</td>
              <td>{{ e.date_incurred }}</td>
              <td>{{ e.description }}</td>
              <td>${{ e.cost }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <input type="submit" value="Record Payment">
    </form>
    <hr>
  {% endfor %}
{% else %}
  <h3>All expenses have been paid!</h3>
{% endif %}

{% endblock body %}
