<div id="header">
  <div id="header-main">
  <center>
    <div id="header-image"><img src="{{ url_for('static', filename='images/crest.png') }}"/></div>
    <div id="header-text">
      <div id="title">Ruddock House</div>
      <div id="subtitle">California Institute of Technology</div>
    </div>
  </div>

  <div id="navbar">
    <div id="navbar-links">
      <a class="header-link" href="{{ url_for("home") }}">
        <div class="navbar-link" onclick="location.href='{{ url_for("home") }}'">Home</div>
      </a>
      <a class="header-link" href="{{ url_for("show_users") }}">
        <div class="navbar-link" onclick="location.href='{{ url_for("show_users") }}'">House Lists</div>
      </a>
      <a class="header-link" href="{{ url_for("show_gov") }}">
        <div class="navbar-link" onclick="location.href='{{ url_for("show_gov") }}'">Government</div>
      </a>
      <a class="header-link" href="{{ url_for("static", filename="constitution/constitution.pdf") }}">
        <div class="navbar-link" onclick="location.href='{{ url_for("static", filename="constitution/constitution.pdf") }}'">
          Constitution
        </div>
      </a>
      <a class="header-link" href="/forum/"><div class="navbar-link" onclick="location.href='/forum/'">Forum</div></a>
      <a class="header-link" href="{{ url_for("show_about_us") }}">
        <div class="navbar-link" onclick="location.href='{{ url_for("show_about_us") }}'">About Us</div>
      </a>
    </div>
    <div id="navbar-login">
      {% if not session['username'] %}
      <a class="header-link" href="{{ url_for("login") }}">
        <div class="navbar-link" onclick="location.href='{{ url_for("login") }}'">Login</div>
      </a>
      {% else %}
        <a class="header-link" href="{{ url_for('show_user_profile', username=session['username']) }}">
          <div class="navbar-link" onclick="location.href='{{ url_for("show_user_profile", username=session["username"]) }}'">
            {{session['username']}}
          </div>
        </a>
        {% if session['show_admin'] %}
          <a class="header-link" href="{{ url_for('admin_home') }}">
            <div class="navbar-link" onclick="location.href='{{ url_for("admin_home") }}'">Admin</div>
          </a>
        {% endif %}
        <a class="header-link" href="{{ url_for('logout') }}">
          <div class="navbar-link" onclick="location.href='{{ url_for("logout") }}'">Logout</div>
        </a>
      {% endif %}
    </div>
  </div>
</div>

{#
<div class="sub_navbar">
 <a class="sub_navbar" href="{{ url_for("home") }}">Home</a>
 <a class="sub_navbar" href="{{ url_for("show_news") }}">News</a>
 <a class="sub_navbar" href="{{ url_for("show_calendar") }}">Calendar</a>
</div>
#}
