<div id="header">
  <div class="top_menu" style="height: 130px; ">
  <div class="topcorner">
    <a href="{{url_for("login")}}">Login</a>
  </div>
  <div class="crest" style="height: 68px;" >
    <img src="static/images/crest.gif"
         height="68px" width="68px" />
  </div>
  <div class="title">Ruddock House</div>

  <div class="navbar">
    <div class="navbar_links">
      <a class="navbar" href="{{url_for("home")}}">Home</a>
     |<a class="navbar" href="{{url_for("show_users")}}">House lists</a>
     |<a class="navbar" href="{{url_for("show_gov")}}">Government</a>
     |<a class="navbar" href="/forum/" target="_new">Forum</a>
     |<a class="navbar" href="{{url_for("show_about_us")}}">About Us</a>
   </div>
 </div>
 <div class="sub_navbar">
   <div class="page_title">Ruddock House</div>
   <div class="navbar_links">
     <a class="sub_navbar" href="{{url_for("home")}}">Home</a>
     |<a class="sub_navbar" href="{{url_for("show_news")}}">News</a>
     |<a class="sub_navbar" href="{{url_for("show_calendar")}}">Calendar</a>
   </div>
 </div>
</div>
