{% extends "layout.html" %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
function clear_selected() {
  $(".room_checkbox").each(function() {
      this.checked = false;
  });
}

function select_all() {
  $(".room_checkbox").each(function() {
      this.checked = true;
  });
}
</script>
<style>
table.rooms_table {
  display: inline-table;
  width: 30%;
  margin: 5px;
}
</style>
{% endblock head %}
{% block body %}
<h2>Start new hassle</h2>
Select all rooms that will be used in this hassle.<br><br>
<div>
  <button type="button" onclick="select_all()">
    Select all rooms
  </button>
  <button type="button" onclick="clear_selected()">
    Clear selected rooms
  </button>
</div>
<br>
<form action="{{ url_for('hassle.new_hassle_rooms_submit') }}" method="POST">
<div>
  {# Make a table for each alley. #}
  {% for alley in alleys %}
    <table class="rooms_table">
      <thead>
        <tr>
          <th></th>
          <th>Room</th>
          <th>Alley</th>
        </tr>
      </thead>
      <tbody>
        {% for room in rooms %}
          {% if room['alley'] == alley %}
          <tr>
            <td>
              <input class="room_checkbox" type="checkbox"
                name="rooms" value="{{ room['room_number'] }}"
                {{ 'checked' if room['participating'] }} />
            </td>
            <td>{{ room['room_number'] }}</td>
            <td>{{ room['alley'] }}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</div>
<br>
<button type="button"
  onclick="location.href='{{ url_for('hassle.new_hassle_participants') }}'">
  Previous
</button>
<button type="submit">Next</button>
</form>
{% endblock body %}
