{% extends "layout.html" %}
{% block head %}
<title>Ruddock House - About Us</title>
{% endblock head %}

{% block body %}
<h2>About Us</h2>
<h4>Physical Address</h4>
<p>
1320 San Pasqual St.<br>
Pasadena, CA 91106
</p>
<h4>Mailing Address</h4>
<p>
Ruddock House<br>
MSC 3-55<br>
Pasadena, CA 91126
</p>
<h4>Contact</h4>
<ul>
  <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:president&#064;ruddock.caltech.edu">House President</a></li>
  <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:imss&#064;ruddock.caltech.edu">Webmaster</a></li>
</ul>

<h4>Other Houses</h4>
<ul>
  <li><a href="http://avery.caltech.edu/">Avery House</a></li>
</ul>

<h4>North Houses</h4>
<ul>
  <li><a href="http://lloyd.caltech.edu/">Lloyd House</a></li>
  <li>Page House</li>
</ul>

<h4>South Houses</h4>
<ul>
  <li><a href="http://blacker.caltech.edu/">Blacker Hovse</a></li>
  <li><a href="http://dabney.caltech.edu/">Dabney Hovse</a></li>
  <li><a href="http://fleming.caltech.edu/">Fleming Hovse</a></li>
  <li><a href="http://ricketts.caltech.edu/public/">Ricketts Hovse</a></li>
</ul>
{% endblock body %}
