{% extends "layout.html" %}
{% block head %}
<title>Ruddock House - About Us</title>
{% endblock head %}

{% block body %}
  <h2>About Us</h2>
  <p>Ruddock House was founded in 1960 in honor of Albert Billings Ruddock, a former Chairman of the Caltech Board of Trustees. It is one of three North Houses out of the eight undergraduate Houses at the California Institute of Technology.</p>
  <p>Ruddock House has about 160 Full and Social members, with about 90 "Rudds" residing within the House. The House has six hallways called "Alleys" that participate in social events and challenge each other in a year-long competition. Over the years, Ruddock has built up many traditions like the Grand Amalgamated Alley Challenge (GAAC) in the fall, Our Private Interhouse (OPI) in the winter, and Frosh Party in the spring.</p>
  <p>Walking through the hallways of Ruddock is a reminder of the enthusiasm and creativity of its members with murals including reproductions of M.C. Escher works, a monopoly board, the Simpsons, and a giant two-story mural of an astronaut called "The Spaceman" painted by Phil Cormier ('79) in just one day.</p>
  <p>Come <a href="{{url_for("show_about_us")}}">join us</a> for one of our nightly family style meals led by our student waiters! You might even throw some bread!</p>
  <h4>Physical Address</h4>
  <p>1320 San Pasqual St.
  <br>Pasadena, CA 91106
  <h4>Mailing Address</h4>
  <p>Ruddock House
  <br>MSC 3-55
  <br>Pasadena, CA 91126

  <h4>Contact</h4>
  <ul>
    <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:president&#064;ruddock.caltech.edu">House President</a></li>
    <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:imss&#064;ruddock.caltech.edu">Webmaster</a></li>
  </ul>

  <h4>Other Houses</h4>
  <ul>
    <li><a href="http://avery.caltech.edu/">Avery House</a></li>
  </ul>

  <h4>North Houses</h4>
  <ul>
    <li><a href="http://lloyd.caltech.edu/">Lloyd House</a></li>
    <li>Page House</li>
  </ul>

  <h4>South Houses</h4>
  <ul>
    <li><a href="http://blacker.caltech.edu/">Blacker Hovse</a></li>
    <li><a href="http://dabney.caltech.edu/">Dabney Hovse</a></li>
    <li><a href="http://fleming.caltech.edu/">Fleming Hovse</a></li>
    <li><a href="http://ricketts.caltech.edu/public/">Ricketts Hovse</a></li>
  </ul>

{% endblock body %}
