{% extends "layout.html" %}

{# TODO: Style this better. Remove duplicate code (if possible). #}

{% block body %}
  {% set titles = ['Executive Commitee','Upperclass Counselors', 
    'Other'] %}
  {% set rosters = [excomm, ucc, other] %}

  {% for i in range(3) %}
    <h2>{{ titles[i] }}</h2>
    <table class="userlist">
    {# First display header #}
      <tr>
        {% for field in fields %}
        <th>{{ field }}</th>
        {% endfor %}
      </tr>
    {# Force proportional columns #}
    <tr>
      <td width='25%'></td><td width='20%'></td>
      <td width='20%'></td><td width='35%'></td>
    </tr>
    {# Now, display each row #}
    {% for position in rosters[i] %}
    <tr onclick="location.href='{{ url_for('show_user_profile',
      username=position['username']) }}'">
      {% for field in fields %}
      <td>{{ position[field] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% endfor %}

{% endblock body %}
