{% extends "layout.html" %}
{% block body %}
<h2>Start new hassle</h2>
<p>Select all rooms that will be used in this hassle.</p>

<form action="{{ url_for('hassle_bp.new_hassle_rooms_submit') }}" method="POST">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Room</th>
        <th>Alley</th>
      </tr>
    </thead>
    <tbody>
      {% for room in rooms %}
      <tr>
        <td>
          <input type="checkbox" name="rooms" value="{{ room['room_number'] }}"
            {{ 'checked' if room['participating'] }} />
        </td>
        <td>{{ room['room_number'] }}</td>
        <td>{{ room['alley'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="button"
    onclick="location.href='{{ url_for('hassle_bp.new_hassle_participants') }}'">
    Previous
  </button>
  <button type="submit">Next</button>
</form>
{% endblock %}
