{% extends "layout.html" %}
{% block body %}
  <h2>Welcome to Ruddock House!</h2>

  <img src="static/images/opi.jpg" height="400px" style="display: block; float: right; padding: 20px; padding-right: 0px;">

  <p>Ruddock House was founded in 1960 in honor of Albert Billings Ruddock, a former Chairman of the Caltech Board of Trustees. It is one of three North Houses out of the eight undergraduate Houses at the California Institute of Technology.</p>
  <p>Ruddock House has about 160 Full and Social members, with about 90 "Rudds" residing within the House. The House has six hallways called "Alleys" that participate in social events and challenge each other in a year-long competition. Over the years, Ruddock has built up many traditions like the Grand Amalgamated Alley Challenge (GAAC) in the fall, Our Private Interhouse (OPI) in the winter, and Frosh Party in the spring.</p>
  <p>Walking through the hallways of Ruddock is a reminder of the enthusiasm and creativity of its members with murals including reproductions of M.C. Escher works, a monopoly board, the Simpsons, and a giant two-story mural of an astronaut called "The Spaceman" painted by Phil Cormier ('79) in just one day.</p>
  <p>Come <a href="{{url_for("show_about_us")}}">join us</a> for one of our nightly family style meals led by our student waiters! You might even throw some bread!</p>
  <br/>
{% endblock body %}
