{% extends "layout.html" %}
{% block body %}
<h2>Welcome to Ruddock House!</h2>
<p>Since its opening in 1960, Ruddock House has proudly housed students through their years as Caltech undergraduates. Ruddock is one of the eight undergraduate houses at Caltech.
</p>
<div style='position: relative; padding-bottom: 59%; height: 0; overflow: hidden;'>
  <iframe id='iframe' src='http://flickrit.com/slideshowholder.php?speed=6&height=58&size=big&userId=ruddockhouse&thumbnails=0&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' >
  </iframe>
</div>
{% endblock body %}
