<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ruddock House Website- Ruddock House</title>
    <link rel="stylesheet" type="text/css" 
          href="{{url_for('static', filename='css/style.css')}}" />
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    {% include "includes/header.html" %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flashes">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div id="content">
      <div id="content-body">
        {% block body %}
        {% endblock body %}
      </div>
    </div>
    {% include "includes/footer.html" %}
  </body>
</html>
