<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ruddock House Website- Ruddock House</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <div class="clearfix" id="borderbox">
      <div class="container">
        {% include "includes/header.html" %}
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="flashes">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div id="content" style="margin-top:8px">
        {% block body %}
        {% endblock body %}
      </div>
      <div class="container">
        {% include "includes/footer.html" %}
      </div>
    </div>
  </body>
</html>
