{% extends "layout.html" %}
{% block body %}
  <h2>Log in to Ruddock!</h2>
  <form action="" method="post">
    <table class="form">
      <tr>
        <td>Username</td>
        <td><input type=text name=username tabindex="1" autofocus></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type=password name=password tabindex="2"></td>
      </tr>
    </table>
    <input type="submit" value="Login" tabindex="3">
  </form>
  <br/>
  Forgot your password? Reset it <a href="{{ url_for('forgot_passwd') }}">here</a>!
{% endblock body %}
