{% extends "layout.html" %}
{% block head %}
<title>Ruddock House - Map</title>
{% endblock head %}

{% block body %}
  <h2>Ruddock House Map</h2>
  
  <center>

  <img src="/static/images/map.gif" alt="Ruddock House" usemap="#roommap">
  <map name="roommap">
  {% for room_num in room_dict.keys() %}
  <area shape="rect" coords="{{ room_dict[room_num] }}"
  href="/map/{{ room_num }}" alt="Room {{ room_num }}" 
  title="Room {{ room_num }}">
  {% endfor %}
  </map>

  </center>

{% endblock body %}
