{% extends "layout.html" %}

{% block body %}
  <table class="userlist">
  {# First display header, with links to sort #}
    <tr>
      {% for field in fields %}
      <th>{{ fieldMap[field] }} {# Maps sql field to display value #}
        <a href="{{ url_for('show_users', field=field) }}">&#9650;</a>
        <a href="{{ url_for('show_users', field=field,
                                          dir='DESC')}}">&#9660;</a>
      </th>
      {% endfor %}
    </tr>
  {# Now, display each row #}
  {% for result in data %}
  <tr onclick="location.href='{{ url_for('show_user_profile', 
    username=idMap[result['user_id']]) }}'">
    {% for field in fields %}
    <td>{{ result[field] }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>

{% endblock body %}
