{% extends "layout.html" %}

{% block body %}
  <center>
  {# Name and subtitle #}
  <h2>{{ info["fname"] }} {{ info["lname"] }}</h2>
  <h3>
    {% if info["major"] %}
      {{ info["major"] }},
    {% endif %}
    Class of {{ info["grad_year"] }}
  </h3>

  {# Contact Information #}
  <div id="view_user_contact">
    {% if info["email"] %}
    <a href="&#109;&#097;&#105;&#108;&#116;&#111;:{{ info["email"] }}">
    {{ info["email"] }}</a>

    {% if info["msc"] %}
    &#8226; MSC {{ info["msc"] }}

    {% if info["phone"] %}
    &#8226; {{ info["phone"] }}
    {% endif %}

    {% else %}
    {% if info["phone"] %}
    &#8226; {{ info["phone"] }}
    {% endif %}
    {% endif %}
    {% else %}
    {% if info["msc"] %}
    MSC {{ info["msc"] }}
    {% if info["phone"] %}
    &#8226; {{ info["phone"] }}
    {% endif %}
    {% else %}
    {% if info["phone"] %}
    {{ info["phone"] }}
    {% endif %}
    {% endif %}
    {% endif %}
  </div>

  {% if info["isabroad"] %}
  <i>Currently studying abroad</i>
  {% endif %}
  <br>

  {# All other information #}
  <table>
    {# Display offices for this user, if any #}
    {% if offices %}
      <tr>
        <td>Offices</td>
        <td><ul>
          {% for office in offices %}
            <li>{{ office['office_name'] }}: {{ office['elected'].strftime('%b \'%y') }} to
            {% if office['expired'] %}
              {{ office['expired'].strftime('%b \'%y') }}
            {% else %}
              Present
            {% endif %}
          {% endfor %}
        </ul></td>
      </tr>
    {% endif %}

    {% if info["bday"] %}
      <tr>
        <td>Birthday</td>
        <td>{{ strftime("%B %d, %Y", info["bday"].timetuple()) }}</td>
      </tr>
    {% endif %}
    <tr>
      {% if info["building"] %}
      <td>Residence</td>
      <td>{{info["building"]}} {{ info["room_num"] }}</td>
      {% endif %}
    </tr>
    <tr>
      <td>Membership</td>
      <td>{{ info["membership_desc"] }}</td>
    </tr>
    {% if info["email2"] %}
      <tr>
        <td>Alt. Email</td>
        <td><a href="&#109;&#097;&#105;&#108;&#116;&#111;:{{ info["email2"] }}">
          {{ info["email2"] }}</a></td>
      </tr>
    {% endif %}
  </table>

  {% if perm %}
  <br>
  <a href="{{ url_for('change_user_settings',
    username = info["username"])}}">Click here</a> to edit this information!
  {% endif %}

  </center>
{% endblock body %}
