<div id="header">
  <div id="header-main">
  <center>
    <div id="header-image"><img src="{{ url_for('static', filename='images/crest.png') }}"/></div>
    <div id="header-text">
      <div id="title">Ruddock House</div>
      <div id="subtitle">California Institute of Technology</div>
    </div>
  </div>

  <div id="navbar">
    <div id="navbar-links">
      <a class="header-link" href="{{ url_for("home") }}">
        <div class="navbar-link">Home</div>
      </a>
      <a class="header-link" href="{{ url_for("users.show_memberlist") }}">
        <div class="navbar-link">House Lists</div>
      </a>
      <a class="header-link" href="{{ url_for("show_info") }}">
        <div class="navbar-link">House Info</div>
      </a>
      <a class="header-link" href="{{ url_for("government.government_home") }}">
        <div class="navbar-link">Government</div>
      </a>
      <a class="header-link" href="{{ url_for("static", filename="constitution/constitution.pdf") }}">
        <div class="navbar-link">Constitution</div>
      </a>
    </div>
    <div id="navbar-login">
      {% if not session['username'] %}
        <a class="header-link" href="{{ url_for("auth.login") }}">
          <div class="navbar-link">Login</div>
        </a>
      {% else %}
        <a class="header-link" href="{{ url_for('users.view_profile', username=session['username']) }}">
          <div class="navbar-link">{{ session['username'] }}</div>
        </a>
        {% if session['show_admin'] %}
          <a class="header-link" href="{{ url_for('admin.admin_home') }}">
            <div class="navbar-link">Admin</div>
          </a>
        {% endif %}
        <a class="header-link" href="{{ url_for('auth.logout') }}">
          <div class="navbar-link">Logout</div>
        </a>
      {% endif %}
    </div>
  </div>
</div>
