{% extends "layout.html" %}
{% block body %}
  <script src="{{ url_for('static', filename='js/tablesort.min.js') }}"></script>
  {% for name, email, positions in assignment_data %}
    {# Display name and email of group #}
    <h2>{{ name }}</h2>
    <h3>{{ "[" + email.decode('utf-8') + " at ruddock.caltech.edu" + "]" if email }}</h3>
    <br>
    <table class="userlist" id="sort-{{ name }}">
    {# First display header #}
      <thead><tr>
        <th width='25%'>Office</th>
        <th width='25%'>Name</th>
        <th width='25%'>Office Email (at ruddock.caltech.edu)</th>
      </tr></thead>
      {# Now, display each row #}
      {% for position in positions %}
        {# Yes, jinja2 has a test called 'none' and it's not spelled 'None' #}
        {% if position['username'] is not none %}
        <tr class="link" onclick="location.href='{{ url_for('users.view_profile', username=position['username']) }}'">
        {% else %}
        <tr>
        {% endif %}
          <td>{{ position['office_name'] }}</td>
          <td>{{ position['name'].decode('utf-8') }}</td>
          <td>{{ position['office_email'] if position['office_email'] else '[None]' }}</td>
        </tr>
      {% endfor %}
    </table>
    <br>

    <script>
      new Tablesort(document.getElementById('sort-{{ name }}'));
    </script>
  {% endfor %}
{% endblock body %}
