{% extends "layout.html" %}

{% block body %}
<h2>Contact</h2>
<h4>Email</h4>
<ul>
  <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:president&#064;ruddock.caltech.edu">House President</a></li>
  <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:excomm&#064;ruddock.caltech.edu">Executive Committee</a></li>
  <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:imss&#064;ruddock.caltech.edu">Webmaster</a></li>
</ul>
<h4>Physical Address</h4>
<p>
1320 San Pasqual St.<br>
Pasadena, CA 91106
</p>
<h4>Mailing Address</h4>
<p>
Venerable House<br>
MSC 3-55<br>
Pasadena, CA 91126
</p>
{% endblock body %}
