{% extends "layout.html" %}
{% block body %}
<h2>Welcome to Venerable House!</h2>
<p> Check out our <a href="https://www.instagram.com/venerable.house/">Instagram</a>! @venerable.house
</p>
<p>Venerable House was founded in 1960 and is one of the eight undergraduate Houses at the California Institute of Technology.
</p>
<p>In fall of 2021, the house was renamed to "Venerable," replacing the original name "Ruddock."
</p>
<p>We have about 160 Full and Social members, with about 90 members residing within the House. The House has six hallways called "Alleys" that participate in social events and challenge each other in a year-long competition. Over the years, Venerable has built up many traditions like the Grand Amalgamated Alley Challenge (GAAC) in the fall, Our Private Interhouse (OPI) in the winter, and Frosh Party in the spring.
</p>
<p>Walking through the hallways of Venerable is a reminder of the enthusiasm and creativity of its members with murals including reproductions of M.C. Escher works, a monopoly board, the Simpsons, and a giant two-story mural of an astronaut called "The Spaceman" painted by Phil Cormier ('79).
</p>
<p>Come join us for one of our nightly family style meals led by our student waiters! You might even throw some bread!
</p>
<br>
Photos taken by our historians can be found <a href="https://www.flickr.com/photos/ruddockhouse/">here</a>.
{% endblock body %}
