{% extends "layout.html" %}
{% block body %}
<h2>Useful House Info</h2>
<h3>Door codes</h3>
<table>
<tr><td>Computer lab</td><td>34-5-2-1</td></tr>
<tr><td>PGR</td><td>1-34-2</td></tr>
<tr><td>O'Doms</td><td>5-3-2-4</td></tr>
<tr><td>Kitchens</td><td>24-3-1-5</td></tr>
</table>
<h3>Printers</h3>
<p>If you need help setting up a printer, don't hesitate to ask any IMSS rep.</p>
<table>
<tr><th>Name</th><th>Color</th><th>Location</th><th>Network address</th><th>Model</th></tr>
<tr><td>Desert</td><td>b&w</td><td>O'Doms</td><td>desert.caltech.edu</td><td>Xerox Phaser 4510</td></tr>
<tr><td>Tundra</td><td>b&w</td><td>Computer Lab</td><td>tundra.caltech.edu</td><td>Xerox Phaser 4600</td></tr>
<tr><td>Prairie</td><td>color</td><td>Computer Lab</td><td>prairie.caltech.edu</td><td>Xerox Phaser 6600</td></tr>
</table>
<h3>Mailing Lists</h3>
<p>All lists are @ruddock.caltech.edu.</p>
<table>
<tr><th>Name</th><th>Notes</th></tr>
<tr><td>spam@</td><td>General mailing list. RA's are on this list.</td></tr>
<tr><td>socials@</td><td>Important announcements. RA's and RLC's are on this list.</td></tr>
<tr><td>members@</td><td>Important announcements for full house members only. RA's and RLC's are on this list.</td></tr>
<tr><td>AlleyX@</td><td>Reach only people living in Alley X for X = 0..6</td></tr>
<tr><td>20XX@</td><td>Reach only people graduating in the year 20XX</td></tr>
<tr><td>men@/women@</td><td>Reach only people who identify as male/female</td></tr>
<tr><td>helrof</td><td>NSFL mailing list. Opt-in only.</td></tr>
</table>
{% endblock body %}
