{% extends "layout.html" %}
{% block body %}
<h2>Useful House Info</h2>
<br />
<h3> Ruddock House Calendar (All times are Pacific Time: Los Angeles) </h3>
<iframe src="https://calendar.google.com/calendar/embed?src=qcgt4jno577tdmf8o3vs8k5354%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<br />

<h3>Past ExComm Meeting Minutes</h3>
<p> Minutes from past meetings can be found <a href="{{ secrets.LINKS['ExComm_Meeting_Minutes'] }}">here</a>.
</p>

<h3>ExComm Communal Materials</h3>
<p> Shared materials for ExComm can be found <a href="{{ secrets.LINKS['ExComm_Materials'] }}" target="_blank">here</a>.
</p>

<h3>Messenger Group Chats</h3>
<p>This <a href="{{ secrets.LINKS['Group_Chat_Spreadsheet'] }}">spreadsheet</a> contains all the public Ruddock-specific groupchats and will be updated as more are created.
</p>

{% if full_member %}
<h3>Door codes</h3>
<table>
  {% for room, code in secrets.DOOR_CODES.items() %}
    <tr>
      <td>{{ room }}</td>
      <td>{{ code }}</td>
    </tr>
  {% endfor %}
</table>
<p>These codes change at the beginning of each school year.</p>

<h3>Cart codes</h3>
<table>
  {% for cart, code in secrets.CART_CODES.items() %}
    <tr>
      <td>{{ cart }}</td>
      <td>{{ code }}</td>
    </tr>
  {% endfor %}
</table>
<br />

<h3>Accounts</h3>
<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    {% for service, login in secrets.ACCOUNTS.items() %}
      <tr>
        <td>{{ service }}</td>
        <td>{{ login['email'] }}</td>
        <td>{{ login['password'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br />

<h3>Phones</h3>
<table>
  {% for location, extension in secrets.PHONES.items() %}
    <tr>
      <td>{{ location }}</td>
      <td>626-395-{{ extension }}</td>
    </tr>
  {% endfor %}
</table>
<br />

<h3>Pavilions card</h3>
<p>
  Use the 1.5 phone number
  {% if '1.5' in secrets.PHONES %}
    (626-395-{{ secrets.PHONES['1.5'] }})
  {% endif %}
  linked to Ruddock's membership card.
</p>
{% endif %}

<h3>Printers</h3>
<p>If you need help setting up a printer, don't hesitate to ask any IMSS rep.</p>
<table>
<tr><th>Name</th><th>Color</th><th>Location</th><th>Network address</th><th>Model</th></tr>
<tr><td>Desert</td><td>b&w</td><td>O'Doms</td><td>desert.caltech.edu</td><td>Xerox Phaser 4510</td></tr>
<tr><td>Tundra</td><td>b&w</td><td>Computer Lab</td><td>tundra.caltech.edu</td><td>Xerox Phaser 4600</td></tr>
<tr><td>Reef</td><td>color</td><td>Computer Lab</td><td>reef.caltech.edu</td><td>Brother HL-3170CDW</td></tr>
</table>
<br />

<h3>Mailing Lists</h3>
<p>All lists are @ruddock.caltech.edu.</p>
<table>
<tr><th>Name</th><th>Notes</th></tr>
<tr><td>spam@</td><td>General mailing list.</td></tr>
<tr><td>socials@</td><td>Important announcements. RAs and RLCs are on this list.</td></tr>
<tr><td>members@</td><td>Important announcements for full house members only. RAs and RLCs are on this list.</td></tr>
<tr><td>AlleyX@</td><td>Reach only people living in Alley X for X = 0..6</td></tr>
<tr><td>20XX@</td><td>Reach only people graduating in the year 20XX</td></tr>
<tr><td>men@/women@</td><td>Reach only people who identify as male/female</td></tr>
</table>

{% endblock body %}
