{% extends "layout.html" %}
{% block body %}
<h2>Useful House Info</h2>
<br />
<h3> Venerable House Calendar (All times are Pacific Time: Los Angeles) </h3>
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&mode=WEEK&src=ZDRlMDFiYzE1YmQ1MDBlYWUwM2ExNjhiMGEyNzE3OTBlZDYxZTczYTIyMTlmN2VjZGVkYWNiNWY3YTIwNDlkMUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=MGRhMjA1NzhlOTBiMjRhMTA3NmQyMDEyMDllYmJjNzQ0NmEyZjgyNGUwNmE3Yjg2Yjg2ZjYyNTViNTQ3YzZiNUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%2315305f&color=%239dae88" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<br />

<h3> Venerable UCC Calendar (All times are Pacific Time: Los Angeles) </h3>
<iframe src="https://calendar.google.com/calendar/embed?src=23273a10a4c503ba014b1e71342be07aff45960f71184b9c8b59a0d36f35465b%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<br />

<h3>Past ExComm Meeting Minutes</h3>
<p> Minutes from past meetings can be found <a href="{{ secrets.LINKS['ExComm_Meeting_Minutes'] }}">here</a>.
</p>

<h3>Messenger Group Chats</h3>
<p>This <a href="{{ secrets.LINKS['Group_Chat_Spreadsheet'] }}">spreadsheet</a> contains all the public Venerable-specific groupchats and will be updated as more are created.
</p>

<h3>PGR Reservation Spreadsheet</h3>
<p>Use this <a href="https://docs.google.com/spreadsheets/d/1KR5lA9MUb8r1SR9JAB0Kv_WARWFOx-Fz0y8aIU_HI6Q/edit?usp=sharing">spreadsheet</a> to reserve PGR or view existing reservations.
</p>

{% if full_member %}
<h3>Door codes</h3>
<table>
  {% for room, code in secrets.DOOR_CODES.items() %}
    <tr>
      <td>{{ room }}</td>
      <td>{{ code }}</td>
    </tr>
  {% endfor %}
</table>
<p>These codes change at the beginning of each school year.</p>

<h3>Cart codes</h3>
<table>
  {% for cart, code in secrets.CART_CODES.items() %}
    <tr>
      <td>{{ cart }}</td>
      <td>{{ code }}</td>
    </tr>
  {% endfor %}
</table>
<br />

<h3>Accounts</h3>
<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    {% for service, login in secrets.ACCOUNTS.items() %}
      <tr>
        <td>{{ service }}</td>
        <td>{{ login['email'] }}</td>
        <td>{{ login['password'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br />

<h3>Phones</h3>
<table>
  {% for location, extension in secrets.PHONES.items() %}
    <tr>
      <td>{{ location }}</td>
      <td>626-395-{{ extension }}</td>
    </tr>
  {% endfor %}
</table>
<br />

<h3>Pavilions card</h3>
<p>
  Use the 1.5 phone number
  {% if '1.5' in secrets.PHONES %}
    (626-395-{{ secrets.PHONES['1.5'] }})
  {% endif %}
  linked to Venerable's membership card.
</p>

<h3>LA County Library Card</h3>
<table>
  {% for card_num, pin in secrets.LIBRARY_CARD.items() %}
    <tr>
      <td>{{ card_num }}</td>
      <td>{{ pin }}</td>
    </tr>
  {% endfor %}
</table>
<br />

{% endif %}

<h3>Printers</h3>
<p>If you need help setting up a printer, don't hesitate to ask any IMSS rep.</p>
<table>
<tr><th>Name</th><th>Color</th><th>Location</th><th>Network address</th><th>Model</th></tr>
<tr><td>Desert</td><td>b&w</td><td>O'Doms</td><td>desert.caltech.edu</td><td>Xerox Phaser 4510</td></tr>
<tr><td>Tundra</td><td>b&w</td><td>Computer Lab</td><td>tundra.caltech.edu</td><td>Xerox Phaser 4600</td></tr>
<tr><td>Reef</td><td>color</td><td>Computer Lab</td><td>reef.caltech.edu</td><td>Brother HL-3170CDW</td></tr>
</table>
<br />

<h3>Mailing Lists</h3>
<p>All lists are @venerable.caltech.edu.</p>
<table>
<tr><th>Name</th><th>Notes</th></tr>
<tr><td>spam@</td><td>General mailing list.</td></tr>
<tr><td>socials@</td><td>Important announcements. RAs and RLCs are on this list.</td></tr>
<tr><td>members@</td><td>Important announcements for full house members only. RAs and RLCs are on this list.</td></tr>
<tr><td>AlleyX@</td><td>Reach only people living in Alley X for X = 0..6</td></tr>
<tr><td>20XX@</td><td>Reach only people graduating in the year 20XX</td></tr>
<tr><td>opi@</td><td>Reach people who are in charge of building our interhouse party, OPI</td></tr>
</table>

{% endblock body %}
