<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Venerable House</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=EB+Garamond%7CRoboto" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png"
          href="{{ url_for('static', filename='images/favicon.png') }}" />
    {% block head %}
    {% endblock head %}
  </head>
  <body>
  <center>
    {% include "includes/header.html" %}
    <div id="content">
      <div id="content-body">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="message">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock body %}
      </div>
    </div>
    {% include "includes/footer.html" %}
  </center>
  </body>
</html>
