{% extends "layout.html" %}

{% block body %}
<h2>Anonymously contact the House President</h2>
<p>
  Use this form to send an <strong>anonymous</strong> message to the House President. No identifying information will be included.
</p>
<form action="{{ url_for('president_message') }}" method="post">
  <p>
    <label for="subject">Subject</label><br />
    <input type="text" id="subject" name="subject" maxlength="{{ subject_max }}"
           value="{{ subject }}" required
           style="width: 100%; max-width: 40em; box-sizing: border-box; background-color: field; border: 1px solid rgb(118, 118, 118); border-radius: 3px" />
  </p>
  <p>
    <label for="body">Message</label><br />
    <textarea id="body" name="body" rows="12" cols="108" maxlength="{{ body_max }}"
              required
              style="width: 100%; max-width: 40em; box-sizing: border-box; border-radius: 3px">{{ body }}</textarea>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
{% endblock body %}
